*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/*General Style*/
:root{
    --main-color:rgb(41, 40, 40);
    --transition: width .3s linear;
}
body{
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Lateef', serif;
}
section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-title{
   /* font-family: 'Cairo Play', cursive;*/
    font-size: 22px;
    position: relative;
    text-align: center;
    color: #465b75;
    margin-bottom: 40px;
}
.section-title::before,
.section-title::after{
    content: "";
    width: 135px;
    height: 2px;
    background-color: #b27e16;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding-left:15px;
    padding-right: 15px;
}
ul{
    list-style-type: none;
}
/*Header Section*/
header {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 888;
    padding-top: 10px;
}
header .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-content h1{
    font-size:2.2rem;
    color: white;
    font-family: 'Cairo Play', cursive;
}
header ul{
    display: flex;
}
header ul li{
    position: relative;
    color: white;  
    cursor: pointer;
    transition: var(--transition);
    font-family: 'Cairo Play', cursive;
}
header ul li:not(:first-child),
header ul li:not(:last-child){
    margin:0 15px;
} 
header ul li::after{
    position: absolute;
    content: "";
    width:0;
    height: 2px;
    background-color: white;
    bottom: -7px;
    right: 0;
    transition: var(--transition);
}
header ul li.active::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: white;
    bottom: -7px;
    right: 0;
    transition: width .3s ease-in-out;
    width:100%;
}
header ul li:hover::after{
    width: 100%;
}
header .bars{
    display: none;
}
#header.active{
    background-color: rgba(4, 4, 4, 0.7);
}
/*Landing Section*/
#landing{
    position: relative;
    background-image: url('landing.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;

}
#landing .text{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    color: white;
}
#landing .text span{
    font-size: 4rem;
}
#landing .text div span:last-child{
    font-size: 2.5rem;
    color: black;
    font-weight: 500;
}
#landing button{
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Lateef', serif;
    font-size: 1.5rem;
    color: white;
    position: relative;
    cursor: pointer;
}
#landing button::after{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition:var(--transition);
    background-color: #b27e16;
    color: black;
}
#landing button:hover::after{
    width: 100%;
}
#landing button i{
    margin-right: 10px;
}
/* Hadith Section */
.hadith-content{
    min-height: 350px;
    box-shadow: 2px 2px 2px #b27e16 inset,
    -2px -2px 2px #b27e16 inset;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}
.hadith-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.hadith-btns .prev,
.hadith-btns .next,
.hadith-btns .number{
    background-color: #465b75;
    color: white;
    box-shadow: 0px 0px 10px rgb(46, 41, 41 ,.5);
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
/* Quraan Section */
.surahContainer{
    display: flex;
    flex-wrap: wrap;
}
.surahContainer .surah{
    box-shadow: 0px 0px 5px #465b75;
    padding: 20px;
    min-height: 100px;
    min-width: 200px;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}
.surahContainer .surah h3{
    color: #b27e16;
}
.surahContainer .surah:hover{
    transform: scale(1.05);
}
/* Surah Popup */
.surah-popup{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;
    transform: translateX(-2000px);
    overflow-y: scroll;
}
.surah-popup::-webkit-scrollbar{
    width: 10px;
    background-color: #b27e16;
}
.surah-popup::-webkit-scrollbar-thumb{
    background-color: white;
}
.surah-popup .close {
    background-color: #fff;
    color: #465b75;
    position: sticky;
    right: 40px;
    font-size: 2rem;
    margin-bottom: 40px;
    top:10px;
    cursor: pointer;
    display: inline-block;
}
.surah-popup .ayats span{
    font-size: 40px;
}
.surah-popup.active{
    transform:translateX(0);
    transition: transform .5s ease-in-out;
}

/* Salah Section */
.prayContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prayTime{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow:0px 0px 5px  rgb(46, 41, 41 ,.5);
    background-image: url('landing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.prayTime h3{
    font-size: 1.5rem;
}
.prayTime p{
    font-size: 2.5em;
    color: #fff;
}
/* Contact Section */
.footer
{

    padding: 0;
}
.footer svg
{
    fill: #465b75;
    transform: translateY(10px);
}
.footer .social
{
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: #465b75;
}
.footer .social a
{
    margin: 15px ;
    font-size: 35px;
    color: #fff;
}


/*** Scroll Btn ***/
.scrollBtn
{
    position: fixed;
    bottom: 0;
    right: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #465b75;
    border-radius: 50%;
    font-size: 25px;
    transition:  1s bottom ease-in-out;
    bottom: -50px;
}
.scrollBtn.active
{
    bottom: 20px;
}

/* Responsive Bar */
@media(max-width:767px) {
   header .bars{
        display: block;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }
    header ul{
        background-color: rgba(0,0,0,.5);
        width: 250px;
        position: fixed;
        left: 0;
        top: 80px;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform .4s ease-in-out;
    }
    header ul.active{
        transform: translateX(0);
    }
    header ul li:not(:first-of-type),
    header ul li:not(:last-of-type){
        padding: 20px;
    }
    .surahContainer .surah{
        width: 95%;
    }
}